@import 'partials/borders';
@import 'partials/display';
@import 'partials/flex';
@import 'partials/input';
@import 'partials/media';
@import 'partials/scroll';
@import 'partials/sizing';
@import 'partials/structure';
@import 'partials/tables';
@import 'partials/typography';
@import 'partials/units';

@import url('https://use.typekit.net/ftq0ggh.css');

#__nuxt, #__layout {
  display: contents;
}

html {
  font-size: 24px;
  color: map-get($colors, black);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  font-family: nimbus-sans, sans-serif;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}