$sizing: (
  xs: 100px,
  sm: 200px,
  md: 300px,
  lg: 400px,
  xl: 500px
);

$units: (
  "0": 0rem,
  "05": 0.5rem,
  "1": 1rem,
  "1-2": 1.2rem,
  "2": 2rem,
  "3": 3rem,
  "4": 4rem,
  "5": 5rem,
  "6": 6rem
);

$colors: (
  grey: #d8d8d8,
  white: #ffffff,
  black: #000000,
  blue: #2e3192,
  cyan: #00aeff,
  yellow: #ffff00,
  pink: #ff8296,
  red: #ff0200,
  green: #006838
);