@import '../modules/all';

.border-black {
  border: 0.10em solid map-get($colors, black);
}

.border-white {
  border: 0.10em solid map-get($colors, white);
}

.borderBottom-pink {
  border-bottom: 0.10em solid map-get($colors, pink);
}