@import '../modules/all';

$flex: (
  properties: (
    (
      propertyAlias: flex,
      property: flex,
      prefixes: (
        '-webkit-',
        '-ms-',
        '-moz-',
      )
    ),
  ),
  values: (
    (
      valueAlias: fill,
      value: 1 1 0
    ),
    (
      valueAlias: sm,
      value: 0 0 map-get($sizing, sm)
    ),
    (
      valueAlias: md,
      value: 0 0 map-get($sizing, md)
    ),
  ),
);

@include classesFromMap($flex);

$direction: (
  properties: (
    (
      propertyAlias: flexDirection,
      property: flex-direction,
      prefixes: (
        '-webkit-',
        '-moz-',
      )
    ),
  ),
  values: (
    (
      valueAlias: row,
      value: row
    ),
    (
      valueAlias: col,
      value: column
    ),
  ),
);

@include classesFromMap($direction);

$justifyAlign: (
  properties: (
    (
      propertyAlias: justifyContent,
      property: justify-content,
      prefixes: (
        '-webkit-',
        '-moz-',
      )
    ),
    (
      propertyAlias: alignSelf,
      property: align-self,
      prefixes: (
        '-webkit-'
      )
    ),
  ),
  values: (
    (
      valueAlias: flexEnd,
      value: flex-end
    ),
    (
      valueAlias: center,
      value: center
    ),
  ),
);

@include classesFromMap($justifyAlign);

.row {
  display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
}