@import '../modules/all';

button {
  display: inline-block;
  background: map-get($colors, black);
  color: map-get($colors, white);
  padding: map-get($rems, '05');
  margin-bottom: map-get($rems, '15');
  cursor: pointer;
  @extend .border-black;
  @extend p;
  &:active {
    background: map-get($colors, white);
    color: map-get($colors, black);  
  }
}

form {
  display: flex;
  flex-direction: column;
  flex-direction: -webkit-column;
  flex-direction: -mox-column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex-direction: -webkit-column;
  flex-direction: -mox-column;
  margin-bottom: map-get($rems, '15');
}

label {
  height: map-get($rems, '1');
  margin-bottom: map-get($rems, '05');
}

input, textarea {
  @extend .border-black;
  @extend p;
  min-height: map-get($rems, '15');
  font-family: nimbus-roman, serif;
}