@import '../modules/all';

$height: (
  properties: (
    (
      propertyAlias: height,
      property: height,
      prefixes: ()
    ),
    (
      propertyAlias: width,
      property: width,
      prefixes: ()
    ),
  ),
  values: (
    (
      valueAlias: 100,
      value: 100%
    ),
  ),
);

@include classesFromMap($height);

$minHeight: (
  properties: (
    (
      propertyAlias: minHeight,
      property: min-height,
      prefixes: ()
    ),
    (
      propertyAlias: minWidth,
      property: min-width,
      prefixes: ()
    ),
  ),
  values: (
    (
      valueAlias: 100,
      value: 100%
    ),
  ),
);

@include classesFromMap($minHeight);