@import '../modules/all';

$position: (
  properties: (
    (
      propertyAlias: position,
      property: position,
      prefixes: ()
    ),
  ),
  values: (
    (
      valueAlias: fixed,
      value: fixed
    ),
  ),
);

@include classesFromMap($position);

.position-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.position-stickyBottom {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}
