@import '../modules/all';

h1 {
  font-weight: 300;
  font-size: map-get($rems, '3');
  margin-bottom: map-get($ems, '125');
  line-height: map-get($ems, '125');
}

.title {
  font-size: 7.5vmax;
}

a {
  color: map-get($colors, black);
  text-decoration: none;
  @extend .borderBottom-pink;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    color: map-get($colors, pink);
  }
}

h2 {
  font-weight: 300;
  font-size: map-get($rems, '2');
  margin-bottom: map-get($ems, '125');
  line-height: map-get($ems, '125');
}

h3 {
  font-weight: 700;
  font-size: map-get($rems, '1');
  margin-bottom: map-get($ems, '125');
  line-height: map-get($ems, '125');
}

p {
  font-weight: 400;
  font-size: map-get($rems, '1');
  margin-bottom: map-get($ems, '15');
  line-height: map-get($ems, '15');
}

small {
  font-size: .5rem;
}

.fontFamily-serif {
  font-family: nimbus-roman, serif !important;
}

.fontWeight-bold {
  font-weight: 700;
}

.caption {
  font-style: italic;
}