@import '../modules/all';

h1 {
  font-weight: 300;
  font-size: map-get($units, '3');
  margin-bottom: 1.2em;
  line-height: 1.2em;
}

.title {
  font-size: 7.5vmax;
}

a {
  color: map-get($colors, black);
  text-decoration: none;
  @extend .borderBottom-pink;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    color: map-get($colors, pink);
  }
}

h2 {
  font-weight: 300;
  font-size: map-get($units, '2');
  margin-bottom: 1.2em;
  line-height: 1.2em;
}

h3 {
  font-weight: 700;
  font-size: map-get($units, '1');
  margin-bottom: 1.2em;
  line-height: 1.2em;
}

p {
  font-weight: 400;
  font-size: map-get($units, '1');
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.fontFamily-serif {
  font-family: nimbus-roman, serif !important;
}