@import '../modules/all';

$padding: (
  properties: (
    (
      propertyAlias: padding,
      property: padding,
      prefixes: (),
    ),
    (
      propertyAlias: paddingRight,
      property: padding-right,
      prefixes: (),
    ),
  ),
  maps: (
    $rems,
  ),
);

@include classesFromMaps($padding);

@import '../modules/all';

$margin: (
  properties: (
    (
      propertyAlias: margin,
      property: margin,
      prefixes: (),
    ),
    (
      propertyAlias: marginBottom,
      property: margin-bottom,
      prefixes: (),
    ),
  ),
  maps: (
    $rems,
  ),
);

@include classesFromMaps($margin);