@import '../modules/all';

$padding: (
  properties: (
    (
      propertyAlias: padding,
      property: padding,
      prefixes: (),
    ),
  ),
  maps: (
    $units,
  ),
);

@include classesFromMaps($padding);

@import '../modules/all';

$margin: (
  properties: (
    (
      propertyAlias: padding,
      property: padding,
      prefixes: (),
    ),
    (
      propertyAlias: marginBottom,
      property: margin-bottom,
      prefixes: (),
    ),
  ),
  maps: (
    $units,
  ),
);

@include classesFromMaps($margin);